{
  "presets" : ["@babel/env", "@babel/preset-react", "@babel/flow"],
  "compact" : true,
  "plugins": [
    "transform-es2015-spread",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
