html,body {
  background-color:white;
  margin: 10px;
}

.container {
width: 100%;

}
.navbar {
  background-color: black;
}

#feature-cards {
margin: 15px;
padding: 50px;
background-color: white;
color: black;
}


.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px
}


h1 {
  padding: 20px;
}


figure {
width: 400px;
height: 250px;
line-height: 250px;
text-align: center;
}

img {
vertical-align: middle;
}


