html,body {
  background-color:white;
  margin: 10px;
}

.container {
width: 100%;

}
.navbar {
  background-color: black;
}


.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px
}
